POSTGRES_USER=admin
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB=appdb

MYSQL_ROOT_PASSWORD=strongpassword
MYSQL_DATABASE=appdb

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=strongpassword

ADMINER_PORT=8080
